body {  
    background-image:linear-gradient(to right, #70fff8,  #e3ffff,
    #b1ffec, #a4ffeb, #82ffee, #70fff8, #9eedf3, #70fff8);
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    text-transform: capitalize;
}

.Encabezado-Principal {
    background-color:#006ac0;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: left;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 1);
    font-family: Garamond, sans-serif;
    font-size: 55px;
    font-weight: bold;
    border: 5px solid black;
    height: 100px;
}

.texto-cambiado{
    color: rgb(0, 0, 0);
}

table{
    width: 100%;
    
}


#tr,td{
    width: 50%;
    align-items: center;
    border: 1px solid #000000;
    padding: 15px;
    background-color: #bbb6b6;
    color: #000000;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    border-radius: 00px;
    margin-top: 30px;
    margin-left: 40px;
    text-transform: capitalize;
    
}

td{
    width: 50%;
    align-items: center;
    border: 1px solid #000000;
    padding: 15px;
    background-color: #bbb6b6;
    color: #000000;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    border-radius: 00px;
    margin-top: 30px;
    margin-left: 40px;
    text-transform: capitalize;
    
}

form1{
    border: 2px solid #000000;
    background-color: #b39c72;
    color: #000000;
    font-family: 'Helvetica', sans-serif;
    border-radius: 0px;
    text-transform: capitalize;
}

form4{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #000000;
    background-color: #b39c72;
    color: #000000;
    font-family: 'Helvetica', sans-serif;
    border-radius: 0px;
    text-transform: capitalize;
}

.seccion {
    position: relative;
    display: block;
    padding: 15px;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 1);
    background: white;
    color: black;
    margin-right: 10%;
    margin-left: 10%;
}

.myButton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
    margin:auto;
    display:block;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}

.inlineForm{
    display: flex;
    flex-direction: row;
    align-items: center;
}

select{
    width: 100%;
    align-items: center;
    font-size: large;
    min-height: max-content;
}

option{
    text-transform: capitalize;
}