* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
  }

body {  
    background-image:linear-gradient(to right, #2255ff,  #adfffb,
    #adfffb, #adfffb, #adfffb, #adfffb, #77fff8, #2255ff);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.body2 {  
    background-image:linear-gradient(to right, #ffffff,  #eafdfa,
    #eafdfa, #ffffff, #ffffff, #eafdfa, #eafdfa, #ffffff);
    font-family: 'Times New Roman', Times, serif;
    text-align: "left";
}

p, b {
    font-family: 'Caladea', serif;
    text-align: justify;
}


h1, h2, h3 , h4 {
    font-family: 'Times New Roman', Times, serif;
    
}
h1 {
    color:rgb(27, 1, 143);
    margin-top: 20px;
    margin-bottom: 10px;
    text-align:center;
}

h2 {
    color: #2d1338;
    margin-bottom: 20px;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
}
h3 {
    color:rgb(25, 0, 255);
    margin-top: 20px;
    margin-bottom: 10px;
    text-align:center;
}

h4 {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align:center;
}

ul {
    list-style-position: inside;
}

li {
    margin: 0 0 3px 0;
}

a {
    text-decoration: none;
    color: black;
    font-style: italic;
}

tr{
    text-align: left;
}

th{
    padding-left: 10px;
    padding-right: 10px;
    text-justify: auto;
    background-color: rgb(243, 236, 137);  
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
    color: black;
    border-bottom: 1px solid blue;
}

table {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}
.form{
    text-align: justify;
    margin-left: 30%;
    text-justify: inter-word;
    font-family: 'Times New Roman', Times, serif;
}

.link_tabla {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-style: normal;
}

.indice_barra {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0;
    font-style: normal;
}

.enlace {
    display: inline-block;
    background-color: #ff00aa;
    border-radius: 15px;
    padding: 5px;
    margin-top: 15px;
    box-shadow: 0px 1px 5px rgb(255, 230, 0);
}

.encabezado {
    background-color:#ffffff;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 1);
    font-family: 'Oswald', sans-serif;
}

.titulo {
    font-size: 80px;
    text-align: center;
    margin: 20px;
    color: white;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 1);
    font-family: 'Oswald', sans-serif;
}

.navegacion {
    z-index: 1;
    display: flex;
    position: fixed;
    justify-content: flex-end;
    right: 0;
    background-color: #001C2C;
    height: 40px;
    top: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
}

.index {
    background-color: #001C2C;
    margin-top: 10px;
    height: 40px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
    text-align: center; 
    padding: 10px;
    list-style-position: outside;
}

.seccion {
    position: relative;
    display: block;
    padding: 15px;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 1);
    background: rgb(209, 253, 255);
    color: black;
    margin-right: 10%;
    margin-left: 10%;
}

.primera_fila_tabla {
    text-align: center;
    background-color: #191970;  
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
    color: white;
    font-size: 25px;
    border-bottom: 1px solid blue;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.myButton {
    box-shadow: 0px 0px 0px 2px #8a79a8;
    background:linear-gradient(to bottom, #fffeb6 5%, #ffe77d 100%);
    background-color:#000000;
    border-radius:10px;
    border:1px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:30px;
    padding:12px 37px;
    text-decoration:none;
    margin:auto;
    display:block;
    width: 300px;
    height: 100px;
}
.myButton:hover {
    background:linear-gradient(to bottom, #77fcda56 5%, #1bff82 100%);
    background-color:#476e9e;
    color:#000000;
}
.myButton:active {
    position:relative;
    top:1px;
}

.myButton2 {
    box-shadow: 0px 0px 0px 2px #8a79a8;
    background:linear-gradient(to bottom, #fffeb6 5%, #ffe77d 100%);
    background-color:#000000;
    border-radius:10px;
    border:1px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:30px;
    padding:12px 37px;
    text-decoration:none;
    margin:auto;
    display:block;
    width: 350px;
    height: 100px;
}
.myButton2:hover {
    background:linear-gradient(to bottom, #77fcda56 5%, #1bff82 100%);
    background-color:#476e9e;
    color:#000000;
}
.myButton2:active {
    position:relative;
    top:1px;
}

.checkGreen {
    text-align: center;
    color: green;
    font-size: 20px;
}
.checkPurple {
    text-align: center;
    color: purple;
    font-size: 20px;
}
.checkRed {
    text-align: center;
    color: red;
    font-size: 20px;
}
.checkBlue {
    text-align: center;
    color: rgb(92, 92, 92);
    font-size: 20px;
}
.label{
    text-align: center;
    color: rgb(92, 92, 92);
    font-size: 40px;
}
.select{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
}
.insert{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
}